@model IEnumerable<SocialGoal.Web.ViewModels.FollowersViewModel>
@foreach (var item in Model)
{
    <table class="table">
        <tr class="span12">
            <td class="span1">
                <a href="@Url.Action("UserProfile", "Account", new { id = item.UserId }, null)" >
                    @if (String.IsNullOrEmpty(@item.ProfilePicUrl))
                    {
                        <img src="/Content/templatemo_329_blue_urban/images/facebook-avatar.png" class="thumbnail" />
                    }
                    else
                    {
                        <img src="@Url.Content(@item.ProfilePicUrl)"class="thumbnail" />
                    }
                </a>
            </td>
            <td class="span5">
                @Html.ActionLink(@item.UserName, "UserProfile", "Account", new { id = item.UserId }, null)
            </td>
        </tr>
    </table>
}
